@charset "UTF-8";  /*n 一定要加 */
/* 字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Open+Sans&display=swap');
/* ---------基本設定--------- */
body{
    font-family: Arial,'Open Sans', Helvetica,'Noto Sans TC','黑體-繁','Heiti TC','微軟正黑體','Microsoft JhengHei',sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    display: block;
}
body{
    background-image: url(../images/慶生背景.jfif);
    -webkit-font-smoothing: antialiased;   
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
/* ---------開幕--------- */
.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    z-index: 800;
    background: linear-gradient(90deg,#c7ab78 50%, #c02045 50%);
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------頁首區--------- */
header{
    z-index: 9999;
    display: block;
    position: relative;
}
header nav{
    position: fixed;
    top: 0;
    left: 0;   
    display: flex;
    width: 100%;
    align-items: center;
    padding: 30px 70px;
    background: linear-gradient(to top, rgba(23, 9, 7, 0) 0%, rgb(23, 9, 7) 100%);
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.btn-1-2{
    display: block;
    text-align: center;
}
header .menu{
    display: flex;
    flex-basis: 40%;
    margin: 1% 1% ;
    margin-top: 10PX;   
}
header .menu li{
    flex: 1;
}
header .menu a{
    border-left: solid 2px #ffffff;
    font-size: 1.3vw;
    color: #ffffff;
    text-decoration: none;
} 
header .menu li:first-child a{
    border-left: none;
} 
header .menu a:hover{
    background-color: rgb(211, 26, 26);
    color: rgb(255, 255, 255);
}
header div{
    height: 5%;
    width: 5%;
}
/* ---------封面區--------- */
#banner{
    z-index: 700;
    background-color: #332323;
    position: relative;
    display: flex;
    flex-direction: column; /* 設定成垂直排列 */
    justify-content: center; /* 在垂直方向置中 */
    align-items: center; /* 在水平方向置中 */
    height: 100vh;
    /* letter-spacing: 1px; */
}
.backgr{
    position: absolute;
    width: 100%;
}
.wang{
    position: absolute;
    opacity: 0.9;
    width: 40%;
    right: 0px;
}
.cyg{
    position: relative; 
    height: 100%;
    width: 100%;   
}
.cyg img{
    position: absolute;
    top: 53.5%;
    left: 33%;
    transform: translate(-50%, -50%);
    height: 93%;
    width: 65%;  
}
.meme{
    z-index: 900;
    position: absolute;
    top: 25%;
    width: 80px;
    width: 4.2%;
}

/* ---------影片區--------- */

#video{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
}
.box1{
    display: flex;
    flex-direction: column; /* 設定成垂直排列 */
    justify-content: center; /* 在垂直方向置中 */
    align-items: center; /* 在水平方向置中 */   
}
h2{
    color: #ffffff;
    margin-bottom: 20px ;    
    font-size: 2vw;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000;
}
/* ---------立牌跑--------- */
#standing_sign{
    
    display: block;
    width: 80%;
    margin: 0 auto;    
}
.travel_notes{
    position: relative;
}
.travel_notes h2{
    
    margin-left: 16px;
}
.travel_notes img{
    height: 40vw;
    width: 65%;
    margin-left: 18px;
    border-radius: 10px;
    
}
.travel_notes p{
    width: 30%;
    position: absolute;
    top: 18%;
    right: 0%;
    font-size: 1.8vw;
    padding: 1%;
    color: #ffffff;
    background-color: #332323;
    border: 3px solid #C5AC7E;
    border-radius: 10px;

}

.col-lg-3{
    overflow:hidden;
    padding: 35px;
    
    
}
.col-lg-3 img{
    
    transform:scale(1.1,1.1);
    transition: all 0.3s ease-out;
    
}
.col-lg-3 img:hover{
    transform:scale(1.2,1.2);
}


/* ---------留言區--------- */
h3{
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    margin-left: 30px ; 
    margin-top: 20px;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000;
    
}
#fanmessage {    
    display: block;
    position: relative;
    z-index: 700;
    overflow: hidden;
    height: 110vh;
    background-image: url(../images/message_brg.png);
    width: 100%;
    -webkit-font-smoothing: antialiased;   
    background-position: center;
    background-size: cover;
  }
  
.pic {
    /*background-color: blue;*/
    float: right;
    padding: 10px;
    margin-right: 5rem;
}
.picture{
    /*background-color: rgb(61, 224, 224);*/
    float: right;  
    padding: 10px;
}  
.pic img {
    margin-bottom: 20px;
  }
.picture img{
    margin-bottom: 20px;
  }
.pic a:first-child {
  margin-top: -400px; /* 假設圖片高度是 400px */
}


/* ---------新觀眾--------- */
#newfan {    
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
    /*background-color: #332323;*/
}
#chick{
    position: absolute;
    width: 25%;
    top: 31%;
    left: 13%;
}
#chick img{
    border-radius: 10px;
}
.newfandialogbox{
    position: absolute;
    width: 20%;
    top: 25%;
    left: 39%;
}
.whatword{
    position: absolute;
    top: 43%;
    left: 43%;
}
.newfanword{
    position: absolute;
    top: 58%;
    left: 43%;
}
/* ---------帶你見識熙歌的魅力--------- */


#knowcyg {    
    display: block;
    position: relative;
    height: 60vh;
    width: 100%;
    /*background-color: #332323;*/
}

h4 {
    font-size: 6.5vw;
    color: white;
    -webkit-text-stroke: 3px black;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000;
  }
.bringyou{
    position: absolute;
    top: 15%;
    left: 5%;
   
}
.cygcharm{
    position: absolute;
    right: 5%;
    bottom: 2%;
}

/* ---------介紹熙歌--------- */
#cygintroduction{
    display: block;
    height: 110vh;
    width: 100%;
    position: relative;
}
.cygintroduction {
    position: absolute;
    width: 26%;
    top: 14%;
    left: 22%;
}
.weektable {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 16%;
    right: 28.8%;
}
.weektablebackground{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 72vh;
    width: 48vh;
    background-image: url(../images/熙歌周表.png);
    -webkit-font-smoothing: antialiased;
    background-position: center;
    background-size: cover;
}
.weektablebackground ul{
    width: 46vh;
    padding-left: 9%;
    padding-top: 14%;
    
}
.weektablebackground ul li{
    list-style-type:none;
}
.title{
    background-color: #C5AC7E;
    color: #1f1213;
    font-size: 2.1vh;
    font-weight: 550;
    border: 2px solid #C5AC7E;
    border-left: 4px solid #C5AC7E;
    border-right: 4px solid #C5AC7E;
    border-radius: 10px;
}
.word{
    font-size: 2.1vh;
    color: #C5AC7E;
}
.space{
    border: 2px solid #c5ac7e00;
    border-radius: 10px;
    font-size: 1.3vw;
}
.word a{
    color: #C5AC7E;
}

.introductionicon{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.introductionicon li{
    margin-right: 5px;
}
/* ---------邀請新觀眾--------- */
#welcome{
    display: block;
    height: 105vh;
    width: 100%;
    position: relative;
    background-image: url(../images/邀請.jpg);
    -webkit-font-smoothing: antialiased;   
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
.cygpoint {
    position: absolute;
    width: 40%;
    bottom: 0%;
    left: 5%;
}
.welcomeblock {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18%;
    right: 9%;
}
.welcome_letter{
    width: 53rem;
}
.welcome_letter ul li{
    list-style-type:none;
}
.welcome_letter h1{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 550;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000;
}
.welcome_letter h5{
    font-size: 2rem;
    color: #ffffff;
    
    text-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000;
}

.welcomedc{
    display: flex;
    justify-content: space-between;
    width: 3rem;
    margin-top: 10px;
}
/* ---------footer--------- */
.footmarquee{
    position: fixed;
    
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
}
.footmarquee p{
    
    color: #ff0000;
}

footer{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 在垂直方向置中 */
    align-items: center; /* 在水平方向置中 */
    text-align: center;
    width: 100%;
    height: 4vh;
    background-color: #BBFBD0;;
}
footer p{
    font-size: 2vh;
}
#gotop{
    display: none;
    width: 10rem;
    border-radius: 5px;
    position: fixed;
    bottom: 3rem;
    right: 20px;
    padding: 5px;
    cursor: pointer;
}
